html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#content {
  text-align: center;
  padding-top: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4),
    0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}

body {
  background-image: url("https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/19657005_653575464840445_1239907533261149086_n.jpg?oh=fa597d0ad28b589e4c58228b145c729d&oe=5A19289C");
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center top;

  font-family: 'Jim Nightshade', cursive;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  /*color: #c69b75;*/
  color: #555;
}

h2 {
  /*color: #c69b75;*/
  color: #555;
  font-weight: 700;
}

.navbar-default {
  background: transparent;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
}
.icons {
  margin: -7px;
}

#make-hamburger {
  font-size: 1.50em;
  padding-right: 10%;
}

.navbar-brand {
  font-size: 1.50em;
}

.navbar-toggle {
  background-color: #ddd;
}

.container {
  max-width: 80%;
}
